

body,html {
    background: #123;
    margin: 0 0 0 0;
}

#intro {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#intro h1{
	color: #484A48;
	font-family: 'Meddon', cursive;
	text-align: center;
	font-size: 5em;
	position: relative;
	margin: 0 0 0;
	top: 50%;
}


#devil {
	width: 100%;
	height: 100%;
	background: #222;
	transform: translateY(100%);
	overflow: hidden;
}

#devil img {
	width: 50%;
	height: auto;
	padding: 1%;
	opacity: 0.0;
}


#body {
	width: 100%;
	height: 100%;
	background: #223;
	transform: translateX(-100%);
	position: absolute;
	top:0;
	left: 0;
	overflow: hidden;
}

#body img {
	padding: 5em;
	transform: translateY(-100%);
}


#greek {
	width: 100%;
	height: 100%;
	background: tomato;
	transform: translateY(100%);
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	
}

#greek img {
	width: 25%;
	margin: 50% auto;
	opacity: 0;
}


#skull {
	width: 100%;
	height: 100%;
	background: #ddd;
	transform: translateX(-100%);
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

#skull img {
	width: 30%;
	margin: 50%;
	height: auto;
	padding: 5em;
}